**/associations/**
**/host_tree/**
**/summaries/**
**/symb_tree/**
**/gene_trees/**
**/species_trees/**
**/reconciliations/**
**/host_trees/**
**/parasite_trees/**
**/alcala_trees/**
**/Datasets/**
*.tgl 
*.png 

