aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.0
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
asymmetree==2.2.2
attrs==25.4.0
bio==1.8.1
biopython==1.86
biothings_client==0.4.1
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161648/work
certifi @ file:///opt/miniconda3/conda-bld/certifi_1763135328017/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774705/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744820108/work
click==8.3.1
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153703/work
contourpy==1.3.3
cycler==0.12.1
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421636036/work
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341235959/work
DendroPy==5.0.8
et_xmlfile==2.0.0
ete3==3.1.3
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235776/work
filelock @ file:///opt/miniconda3/conda-bld/filelock_1762419674411/work
fonttools==4.61.1
frozenlist==1.8.0
fsspec @ file:///opt/miniconda3/conda-bld/fsspec_1762432465003/work
gitdb==4.0.12
GitPython==3.1.45
gmpy2 @ file:///opt/miniconda3/conda-bld/gmpy2_1764747892573/work
gprofiler-official==1.0.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005314/work
importlib_metadata @ file:///opt/miniconda3/conda-bld/importlib_metadata-suite_1763996576777/work
ipykernel @ file:///opt/miniconda3/conda-bld/ipykernel_1762946072373/work
ipython @ file:///opt/miniconda3/conda-bld/ipython_1762789298678/work
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib==1.5.3
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588284546/work
kiwisolver==1.4.9
lightning==2.6.0
lightning-utilities==0.15.2
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.8
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779171588/work
mpmath @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_17iu6a8a3m/croot/mpmath_1690848269369/work
multidict==6.7.0
mygene==3.2.2
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///opt/miniconda3/conda-bld/networkx_1765378630299/work
numpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_feerxblx2i/croot/numpy_and_numpy_base_1755590858426/work/dist/numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=90e2c7129858f82ac766ccb65eb8e3aeaa30c8027ce418831a97cf8376aa0ae2
openpyxl==3.1.5
opentelemetry-api @ file:///opt/miniconda3/conda-bld/opentelemetry-api_1763996075097/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
pandas==2.3.3
parso @ file:///opt/miniconda3/conda-bld/parso_1762781703292/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow @ file:///opt/miniconda3/conda-bld/pillow_1762528235719/work
platformdirs @ file:///opt/miniconda3/conda-bld/platformdirs_1762356624685/work
pooch==1.8.2
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744881146/work
propcache==0.4.1
protobuf==6.33.2
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896323688/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496044852/work
pydantic==2.12.5
pydantic_core==2.41.5
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431577787/work
pyparsing==3.2.5
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010242/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
pytorch-lightning==2.6.0
pytz==2025.2
PyYAML==6.0.3
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616040/work
regex==2025.11.3
requests @ file:///opt/miniconda3/conda-bld/requests_1762359591792/work
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
sentry-sdk==2.48.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap==5.0.2
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy @ file:///opt/miniconda3/conda-bld/sympy_1764762956189/work
threadpoolctl==3.6.0
tokenizers==0.22.1
torch @ file:///opt/miniconda3/conda-bld/libtorch_1765275721546/work
torchmetrics==1.8.2
tornado @ file:///Users/ec2-user/croot/tornado_1765992648472/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
tralda==1.1.1
transformers==4.57.3
typing-inspection==0.4.2
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata==2025.3
urllib3 @ file:///opt/miniconda3/conda-bld/urllib3_1765399198897/work
wandb==0.23.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
yarl==1.22.0
zipp @ file:///opt/miniconda3/conda-bld/zipp_1763977856657/work
